<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.civil.stiff">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/stiff"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/stiff_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".estructuras.cercha.CerchaNumberDegreeFreeActivity"></activity>
        <activity android:name=".estructuras.cercha.CerchaDefineForceVectorExtActivity" />
        <activity
            android:name=".estructuras.cercha.CerchaMatrixOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estructuras.cercha.CerchaDefineElementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estructuras.cercha.CerchaElementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estructuras.portico.PorticoNumberDegreeFreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estructuras.portico.PorticoDefineForceVectorExtActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estructuras.portico.PorticoDefineForceVectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estructuras.portico.PorticoMatrixOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estructuras.portico.PorticoDefineElementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estructuras.portico.PorticoElementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPDFActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estructuras.viga.VigaNumberDegreeFreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estructuras.viga.VigaDefineForceVectorExt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estructuras.viga.VigaDefineForceVector"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".estructuras.viga.VigaMatrixOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estructuras.viga.VigaDefineElementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estructuras.viga.VigaElementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectorActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>